# /lib/systemd/system/cassandra.service

[Unit]
Description=Cassandra
After=network.target

[Service]
User={{cassandra_owner}}
Group={{cassandra_group}}
ExecStart={{cassandra_install_dir}}/bin/cassandra -f -R
StandardOutput=journal
StandardError=journal
LimitNOFILE=100000
LimitMEMLOCK=infinity
LimitNPROC=32768
LimitAS=infinity
Restart=always

[Install]
WantedBy=multi-user.target
